body {
    background-color: #FFFFFF;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chivo", sans-serif;
    font-style: normal;
  }
  header {
    position: fixed;  
    top: 0;          
    left: 0;          
    width: 100%;      
    z-index: 1000;  
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 228, 228); 
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  header .logo {
    font-size: 24px;
    font-weight: bold;
  }

  .header-btn-container {
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  #imglogo {
    height: 30px;
    cursor: pointer;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  nav ul li {
    display: inline;
  }
  nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;    
  }

  nav ul li a:hover {
    border-bottom: 3px solid #000000;
    transform: transition 0.5 ease;
  }

  section {
    padding: 40px 20px;
    text-align: center;
  }

  #profile-image {
    height: 30px; 
    width: 30px;
    border-radius: 50%; 
    object-fit: cover;
    margin-right: 10px;
    margin-top: 5px;
  }

  #customer-username {
    font-size: 14px;
    line-height: 1;
    max-width: 120px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

  .profile-container {
    display: flex;
    cursor: pointer;
  }

  .search-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.cart-icon {
    font-size: 22px;
}

.search-container input[type="text"] {
    padding: 8px 12px;
    width: 450px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 14px;
    border: 1px solid #FD9596;
}

/* Category dropdown*/
#category-dropdown {
    padding: 7.5px;
    font-size: 14px;
    margin-left: -15px;
    border: 1px solid #FD9596;
    background-color: white;
    outline: none;
    cursor: pointer;
}

.search-icon-btn {
    padding: 7.5px 10px;
    margin-left: -12px;
    border: none;
    background-color: #FD9596;
    color: #000000;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-icon-btn:hover {
    background-color: #e8696b;
    color: #FFFFFF;
}

.search-icon-btn i {
    font-size: 18px;
}

/*MAIN CONTENT*/
.main-container {
    margin-top: 80px;
    height: 670px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profile-nav-container{
    background-color: #ffffff;
    height: 600px;
    width: 220px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
}

.profile-info-container{
    background-color: #ffffff;
    height: 600px;
    width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
}

.profilepic-con {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
    margin-left: 20px;
}

.profilepic-con #customername {
    font-size: 16px
}

#profilenav {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.linebr {
    border: none;
    height: 0.5px;
    background-color: #cbcbcb;
    margin-right: 10px;
    margin-left: 10px;
}

.profnav-con {
    margin-top: 30px;
    margin-left: 15px;
}

.profnav-con a {
    display: block; 
    text-decoration: none; 
    color: #000000; 
    font-weight: bold; 
    text-align: left;
}

.nava a:hover {
    color: #e8696b; 
    cursor: pointer; 
}

.nava {
    display: flex; 
    align-items: center; 
    gap: 10px;
    margin-bottom: 20px;
}

.nava i {
    min-width: 20px; 
    text-align: center; 
    font-size: 16px; 
    color: #e8696b;
}

.nava a {
    text-decoration: none; 
    color: #000000; 
    font-weight: lighter; 
    font-size: 16px; 
    text-align: left; 
    flex: 1; 
}

.active a{
    font-weight: bold;
    color: #e8696b;
}

.titleprofile {
    text-align: left;
    margin-left: 20px;
}

.titleprofile p{
    margin-top: -13px;
    font-size: 15px;
}

.change-container {
    background-color: #ffffff;
}


.tabs {
  display: flex;
  border-bottom: 2px solid #ddd;
  height: 80px;
  justify-content: space-between;
}
.tab {
  padding: 30px 20px;
  cursor: pointer;
  text-align: center;
  width: auto;
}
.tab.active {
  font-weight: bold;
  border-bottom: 2px solid #e8696b;
  color: #e8696b;
}
.tab-content {
  display: none;
  padding: 20px;
}
.tab-content.active {
  display: block;
}